<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Fcss/req.css">
    <link rel="stylesheet" href="/Fcss/FOO.css">
    <title>MiaNixir</title>

</head>
<body>
    <header class="web_header" >
        <div class="logo_icon" id="logo_icon">MiaNixir</div>
        <div class="web_header_d">
            <div class="nev" id="n-e">
            <a href="#bo1"class="bo">Home</a>
            <a href="#bo2"class="bo">Curses</a>
            <a href="#bo4"class="bo">Files</a>
            <a href="/" class="bo">Rigister</a>
        </div>
        <!-- <div class="co"><p>Copyright <span>©2024</span>  All rights reserved This website is made from <span>Waves </span>by<span>  Muhammadgoi</span></p></div> -->
        </div>
        
        
                <!-- from down -->
                <!-- <svg id="visual" viewBox="0 0 1980 900" width="1980" height="900" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"><path d="M0 639L330 561L660 590L990 602L1320 689L1650 694L1980 636L1980 901L1650 901L1320 901L990 901L660 901L330 901L0 901Z" fill="#f5730a"></path><path d="M0 635L330 591L660 657L990 582L1320 752L1650 658L1980 659L1980 901L1650 901L1320 901L990 901L660 901L330 901L0 901Z" fill="#f87f08"></path><path d="M0 767L330 651L660 653L990 728L1320 739L1650 768L1980 760L1980 901L1650 901L1320 901L990 901L660 901L330 901L0 901Z" fill="#fa8a07"></path><path d="M0 748L330 805L660 725L990 804L1320 699L1650 691L1980 795L1980 901L1650 901L1320 901L990 901L660 901L330 901L0 901Z" fill="#fc950a"></path><path d="M0 775L330 767L660 791L990 756L1320 844L1650 769L1980 840L1980 901L1650 901L1320 901L990 901L660 901L330 901L0 901Z" fill="#fea00f"></path><path d="M0 865L330 852L660 808L990 859L1320 840L1650 839L1980 834L1980 901L1650 901L1320 901L990 901L660 901L330 901L0 901Z" fill="#ffab15"></path></svg> -->
                
                <!-- OPER Cercles -->
                <!-- <svg id="visual" viewBox="0 0 1980 900" width="1980" height="900" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"><rect x="0" y="0" width="1980" height="900" fill="#ffffff"></rect><g fill="none" stroke="#ffbf00" stroke-width="2"><circle r="97" cx="855" cy="3"></circle><circle r="5" cx="293" cy="342"></circle><circle r="63" cx="1153" cy="699"></circle><circle r="87" cx="1729" cy="403"></circle><circle r="51" cx="148" cy="726"></circle><circle r="94" cx="1390" cy="612"></circle><circle r="77" cx="1154" cy="429"></circle><circle r="34" cx="337" cy="845"></circle><circle r="27" cx="1742" cy="784"></circle><circle r="73" cx="88" cy="178"></circle><circle r="75" cx="1492" cy="408"></circle><circle r="45" cx="509" cy="624"></circle><circle r="89" cx="974" cy="182"></circle><circle r="50" cx="840" cy="718"></circle><circle r="7" cx="417" cy="26"></circle><circle r="78" cx="621" cy="64"></circle><circle r="71" cx="767" cy="233"></circle><circle r="17" cx="1543" cy="206"></circle></g></svg> -->
                
                <!-- <svg id="visual" viewBox="0 0 1980 900" width="1980" height="900" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"><path d="M0 639L330 561L660 590L990 602L1320 689L1650 694L1980 636L1980 901L1650 901L1320 901L990 901L660 901L330 901L0 901Z" fill="#f5730a"></path><path d="M0 635L330 591L660 657L990 582L1320 752L1650 658L1980 659L1980 901L1650 901L1320 901L990 901L660 901L330 901L0 901Z" fill="#f87f08"></path><path d="M0 767L330 651L660 653L990 728L1320 739L1650 768L1980 760L1980 901L1650 901L1320 901L990 901L660 901L330 901L0 901Z" fill="#fa8a07"></path><path d="M0 748L330 805L660 725L990 804L1320 699L1650 691L1980 795L1980 901L1650 901L1320 901L990 901L660 901L330 901L0 901Z" fill="#fc950a"></path><path d="M0 775L330 767L660 791L990 756L1320 844L1650 769L1980 840L1980 901L1650 901L1320 901L990 901L660 901L330 901L0 901Z" fill="#fea00f"></path><path d="M0 865L330 852L660 808L990 859L1320 840L1650 839L1980 834L1980 901L1650 901L1320 901L990 901L660 901L330 901L0 901Z" fill="#ffab15"></path></svg> -->
                
                <!-- from down -->
                
                <!-- <svg id="visual" viewBox="0 0 1980 900" width="1980" height="900" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"><path d="M0 100L180 64L360 64L540 55L720 109L900 136L1080 91L1260 55L1440 109L1620 127L1800 100L1980 82L1980 0L1800 0L1620 0L1440 0L1260 0L1080 0L900 0L720 0L540 0L360 0L180 0L0 0Z" fill="#ffab15"></path><path d="M0 199L180 280L360 244L540 271L720 316L900 217L1080 235L1260 145L1440 226L1620 226L1800 253L1980 253L1980 80L1800 98L1620 125L1440 107L1260 53L1080 89L900 134L720 107L540 53L360 62L180 62L0 98Z" fill="#ffc05d"></path><path d="M0 469L180 442L360 478L540 541L720 649L900 523L1080 505L1260 478L1440 460L1620 379L1800 514L1980 622L1980 251L1800 251L1620 224L1440 224L1260 143L1080 233L900 215L720 314L540 269L360 242L180 278L0 197Z" fill="#ffd494"></path><path d="M0 613L180 523L360 595L540 649L720 712L900 685L1080 694L1260 658L1440 649L1620 487L1800 694L1980 748L1980 620L1800 512L1620 377L1440 458L1260 476L1080 503L900 521L720 647L540 539L360 476L180 440L0 467Z" fill="#ffe9c9"></path><path d="M0 901L180 901L360 901L540 901L720 901L900 901L1080 901L1260 901L1440 901L1620 901L1800 901L1980 901L1980 746L1800 692L1620 485L1440 647L1260 656L1080 692L900 683L720 710L540 647L360 593L180 521L0 611Z" fill="#ffffff"></path></svg> -->
                <!-- from up -->
                <!-- <svg id="visual" viewBox="0 0 1980 900" width="1980" height="900" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"><path d="M0 181L152 199L305 235L457 217L609 208L762 298L914 226L1066 172L1218 217L1371 199L1523 163L1675 190L1828 253L1980 154L1980 0L1828 0L1675 0L1523 0L1371 0L1218 0L1066 0L914 0L762 0L609 0L457 0L305 0L152 0L0 0Z" fill="#ffffff"></path><path d="M0 280L152 280L305 325L457 280L609 271L762 388L914 325L1066 235L1218 271L1371 289L1523 235L1675 298L1828 352L1980 208L1980 152L1828 251L1675 188L1523 161L1371 197L1218 215L1066 170L914 224L762 296L609 206L457 215L305 233L152 197L0 179Z" fill="#fff0db"></path><path d="M0 379L152 370L305 415L457 451L609 442L762 469L914 451L1066 316L1218 361L1371 379L1523 316L1675 388L1828 478L1980 334L1980 206L1828 350L1675 296L1523 233L1371 287L1218 269L1066 233L914 323L762 386L609 269L457 278L305 323L152 278L0 278Z" fill="#ffe2b7"></path><path d="M0 658L152 667L305 667L457 667L609 613L762 640L914 676L1066 613L1218 649L1371 685L1523 622L1675 649L1828 658L1980 649L1980 332L1828 476L1675 386L1523 314L1371 377L1218 359L1066 314L914 449L762 467L609 440L457 449L305 413L152 368L0 377Z" fill="#ffd494"></path><path d="M0 712L152 730L305 766L457 739L609 703L762 739L914 766L1066 721L1218 721L1371 757L1523 676L1675 730L1828 703L1980 703L1980 647L1828 656L1675 647L1523 620L1371 683L1218 647L1066 611L914 674L762 638L609 611L457 665L305 665L152 665L0 656Z" fill="#ffc770"></path><path d="M0 838L152 856L305 838L457 856L609 856L762 847L914 856L1066 847L1218 829L1371 829L1523 829L1675 820L1828 811L1980 838L1980 701L1828 701L1675 728L1523 674L1371 755L1218 719L1066 719L914 764L762 737L609 701L457 737L305 764L152 728L0 710Z" fill="#ffb94a"></path><path d="M0 901L152 901L305 901L457 901L609 901L762 901L914 901L1066 901L1218 901L1371 901L1523 901L1675 901L1828 901L1980 901L1980 836L1828 809L1675 818L1523 827L1371 827L1218 827L1066 845L914 854L762 845L609 854L457 854L305 836L152 854L0 836Z" fill="#ffab15"></path></svg> -->
                <!-- <svg id="visual" viewBox="0 0 1980 900" width="1980" height="900" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"><path d="M0 100L180 64L360 64L540 55L720 109L900 136L1080 91L1260 55L1440 109L1620 127L1800 100L1980 82L1980 0L1800 0L1620 0L1440 0L1260 0L1080 0L900 0L720 0L540 0L360 0L180 0L0 0Z" fill="#ffab15"></path><path d="M0 199L180 280L360 244L540 271L720 316L900 217L1080 235L1260 145L1440 226L1620 226L1800 253L1980 253L1980 80L1800 98L1620 125L1440 107L1260 53L1080 89L900 134L720 107L540 53L360 62L180 62L0 98Z" fill="#ffc05d"></path><path d="M0 469L180 442L360 478L540 541L720 649L900 523L1080 505L1260 478L1440 460L1620 379L1800 514L1980 622L1980 251L1800 251L1620 224L1440 224L1260 143L1080 233L900 215L720 314L540 269L360 242L180 278L0 197Z" fill="#ffd494"></path><path d="M0 613L180 523L360 595L540 649L720 712L900 685L1080 694L1260 658L1440 649L1620 487L1800 694L1980 748L1980 620L1800 512L1620 377L1440 458L1260 476L1080 503L900 521L720 647L540 539L360 476L180 440L0 467Z" fill="#ffe9c9"></path><path d="M0 901L180 901L360 901L540 901L720 901L900 901L1080 901L1260 901L1440 901L1620 901L1800 901L1980 901L1980 746L1800 692L1620 485L1440 647L1260 656L1080 692L900 683L720 710L540 647L360 593L180 521L0 611Z" fill="#ffffff"></path></svg> -->
    </header> 
    <div class="s1">
        <div class="s1b">
        <div class="s1_ti">First Order Ordinary</div>
        <div class="s1_cont">
            <div class="s1_cont_ti">Equation where variable are separable</div>
            <div class="s1_cont_p">
                dy مع y والمتغير dx مع X الطريقة الأولى الذي يمكننا فيها فصل المتغيرات
                <br>
                :مثال على ذلك
                <br>
                $$\frac{dy}{dx}=xy$$
                <br>
                بضرب الطرفين في الوسطين
                $$xy dx= dy$$
                y وبقسمة الطرفي المعادلة على
                <br>
                $$ x dx = \frac{dy}{y}$$
                <br>
                فيمكننا الان اخد تكامل للطرفين 
                <br>
                $$ \int{x dx} =\int{\frac{dy}{y}}$$
                <br>
                <div class="s1_cont_ex_sh_p">
                    <div class="s1_cont_ex_sh_p_cf">$$ \frac{x^2}{2} =Ln{|y|}+C_1$$</div>
                </div>
                <br>

            </div>
            <div class="s1_cont_ex">
                <div class="s1_cont_ex_ti">Example 1</div>
                <div class="s1_cont_ex_ti2">$$(x+y)\frac{dy}{dx} = y$$</div>
                <div class="s1_cont_ex_sh">
                    <div class="s1_cont_ex_sh_p">$$(x+1)\frac{dy}{dx}=y$$</div>
                    <div class="s1_cont_ex_sh_p">$$dxy=(x+1)dy$$</div>
                    <div class="s1_cont_ex_sh_p">$$\int{\frac{dx}{x+1}}=\int{\frac{dy}{y}}$$</div>
                    <div class="s1_cont_ex_sh_p">$$Ln{|y|}=Ln{|x+1|}+C$$</div>
                    <div class="s1_cont_ex_sh_p">$$e^{Ln{|y|}}=e^{Ln{|x+1|}}+e^C$$</div>
                    <div class="s1_cont_ex_sh_p">
                        <div class="s1_cont_ex_sh_p_cf">$$|y|=|x+1|+C_{1}$$</div>
                    </div>
                </div>
                <div class="s1_cont_ex_b">
                    <div class="s1_cont_ex_b_on s1_cont_ex_op">Show one step</div>
                    <div class="s1_cont_ex_b_al s1_cont_ex_op">Show all steps</div>
                    <div class="s1_cont_ex_b_hi s1_cont_ex_op">Hide all steps</div>
                </div>
            </div>
            <div class="s1_cont_ex">
                <div class="s1_cont_ex_ti">Example 2</div>
                <div class="s1_cont_ex_ti2">$$xydx = 3(y-2)dy$$</div>
                <div class="s1_cont_ex_sh">
                    <div class="s1_cont_ex_sh_p">$$xydx = 3(y-2)dy$$</div>
                    <div class="s1_cont_ex_sh_p">$$xdx=\frac{3(y-2)dy}{y} $$</div>
                    <div class="s1_cont_ex_sh_p">$$xdx=\frac{3y}{y} - \frac{6}{y} $$</div>
                    <div class="s1_cont_ex_sh_p">$$\int{xdx}=\int{3dy}-\int{\frac{6}{y}dy} $$</div>
                    <div class="s1_cont_ex_sh_p">
                        <div class="s1_cont_ex_sh_p_cf">$$\frac{x^2}{2}=3y -6Ln{|y|} + C_1 $$</div>
                    </div>
                </div>
                <div class="s1_cont_ex_b">
                    <div class="s1_cont_ex_b_on s1_cont_ex_op">Show one step</div>
                    <div class="s1_cont_ex_b_al s1_cont_ex_op">Show all steps</div>
                    <div class="s1_cont_ex_b_hi s1_cont_ex_op">Hide all steps</div>
                </div>
            </div>
            <div class="s1_cont_ex">
                <div class="s1_cont_ex_ti">Example 3</div>
                
                <div class="s1_cont_ex_ti2">$$\frac{dy}{dx}=(x^2-4)(3y+2)$$</div>
                <div class="s1_cont_ex_sh">
                    <div class="s1_cont_ex_sh_p">$$\frac{dy}{dx}=(x^2-4)(3y+2)$$</div>
                    <div class="s1_cont_ex_sh_p">$$dy=dx(x^2-4)(3y+2)$$</div>
                    <div class="s1_cont_ex_sh_p">$$\frac{dy}{(3y+2)}=dx(x^2-4)$$</div>
                    <div class="s1_cont_ex_sh_p">$$\int{\frac{dy}{(3y+2)}}=\int{dx(x^2-4)}$$</div>
                    <div class="s1_cont_ex_sh_p">$$\int{\frac{dy}{(3y+2)}}=\int{x^2 dx}-\int{4dx}$$</div>
                    
                    <div class="s1_cont_ex_sh_p">
                        <div class="s1_cont_ex_sh_p_cf">$$\frac{Ln(3y+2)}{3} =\frac{x^3}{3} -4x + C$$</div>
                    </div>
                    <div class="s1_cont_ex_sh_p">$$ Ln|3y+2|=x^3 -12x + 3C$$</div>
                    <div class="s1_cont_ex_sh_p">$$ e^{Ln|3y+2|}=e^{x^3-12x+C_1}$$</div>
                    <div class="s1_cont_ex_sh_p">$$ |3y+2|=e^{x^3-12x+C_1}$$</div>
                </div>
                <div class="s1_cont_ex_b">
                    <div class="s1_cont_ex_b_on s1_cont_ex_op">Show one step</div>
                    <div class="s1_cont_ex_b_al s1_cont_ex_op">Show all steps</div>
                    <div class="s1_cont_ex_b_hi s1_cont_ex_op">Hide all steps</div>
                </div>
            </div>
            <div class="s1_cont_ex">
                <div class="s1_cont_ex_ti">Example 4</div>
                <div class="s1_cont_ex_ti2">$$\frac{dy}{dx}=6x^2+4x$$</div>
                <div class="s1_cont_ex_sh">

                <div class="s1_cont_ex_sh_p">$$\frac{dy}{dx}=6x^2+4x$$</div>
                <div class="s1_cont_ex_sh_p">$$dy=(6x^2+4x)dx$$</div>
                <div class="s1_cont_ex_sh_p">$$\int{dy}=\int{(6x^2+4x)dx}$$</div>
                <div class="s1_cont_ex_sh_p">$$\int{dy}=\int{6x^2 dx} + \int{4x dx}$$</div>
                <div class="s1_cont_ex_sh_p">
                    <div class="s1_cont_ex_sh_p_cf">$$y = 2x^3 + 2x^2 + C_1 $$</div>
                </div>
                </div>
                
                <div class="s1_cont_ex_b">
                    <div class="s1_cont_ex_b_on s1_cont_ex_op">Show one step</div>
                    <div class="s1_cont_ex_b_al s1_cont_ex_op">Show all steps</div>
                    <div class="s1_cont_ex_b_hi s1_cont_ex_op">Hide all steps</div>
                </div>
            </div>
            <div class="s1_cont_ex">
                <div class="s1_cont_ex_ti">Example 5</div>
                
                <div class="s1_cont_ex_ti2">$$\frac{dy}{dx}=secy+tany$$</div>
                <div class="s1_cont_ex_sh">
                <div class="s1_cont_ex_sh_p">$$1$$</div>
                <div class="s1_cont_ex_sh_p">$$2$$</div>
                <div class="s1_cont_ex_sh_p">$$3$$</div>
                <div class="s1_cont_ex_sh_p">
                    <div class="s1_cont_ex_sh_p_cf">$$ $$</div>
                </div> 
                </div>
                <div class="s1_cont_ex_b">
                    <div class="s1_cont_ex_b_on s1_cont_ex_op">Show one step</div>
                    <div class="s1_cont_ex_b_al s1_cont_ex_op">Show all steps</div>
                    <div class="s1_cont_ex_b_hi s1_cont_ex_op">Hide all steps</div>
                </div>
            </div>
            <div class="s1_cont_ex">
                <div class="s1_cont_ex_ti">Example 6</div>
                
                <div class="s1_cont_ex_ti2">$$\frac{dy}{dx}=xy+3x-2y-6$$</div>
                <div class="s1_cont_ex_sh">

                <div class="s1_cont_ex_sh_p">$$\frac{dy}{dx}=xy+3x-2y-6$$</div>
                <div class="s1_cont_ex_sh_p">$$\frac{dy}{dx}=(x +3)(y-2)$$</div>
                <div class="s1_cont_ex_sh_p">$$dy=dx(x +3)(y-2)$$</div>
                <div class="s1_cont_ex_sh_p">$$\frac{dy}{(y-2)}=(x +3)dx$$</div>
                <div class="s1_cont_ex_sh_p">$$\int{\frac{dy}{(y-2)}}=\int{(x +3)}dx$$</div>
                <div class="s1_cont_ex_sh_p">$$\int{\frac{dy}{(y-2)}}=\int{xdx} + \int{3dx}$$</div>
                <div class="s1_cont_ex_sh_p">
                    <div class="s1_cont_ex_sh_p_cf">$$ Ln|y-2| = \frac{x^2}{2} + 3x + C_1$$</div>
                </div>
                </div>
                <div class="s1_cont_ex_b">
                    <div class="s1_cont_ex_b_on s1_cont_ex_op">Show one step</div>
                    <div class="s1_cont_ex_b_al s1_cont_ex_op">Show all steps</div>
                    <div class="s1_cont_ex_b_hi s1_cont_ex_op">Hide all steps</div>
                </div>
            </div>
            <div class="s1_cont_ex">
                <div class="s1_cont_ex_ti">Example 7</div>
                
                <div class="s1_cont_ex_ti2">$$2ydy=(x^2+1)dx$$</div>
                <div class="s1_cont_ex_sh">

                <div class="s1_cont_ex_sh_p">$$2ydy = (x^2+1)dx$$</div>
                <div class="s1_cont_ex_sh_p">$$\int{2ydy} =\int{(x^2+1)dx}$$</div>
                <div class="s1_cont_ex_sh_p">
                    <div class="s1_cont_ex_sh_p_cf">$$y^2 = \frac{x^3}{3}+x+C_1 $$</div>
                </div>
                </div>
                <div class="s1_cont_ex_b">
                    <div class="s1_cont_ex_b_on s1_cont_ex_op">Show one step</div>
                    <div class="s1_cont_ex_b_al s1_cont_ex_op">Show all steps</div>
                    <div class="s1_cont_ex_b_hi s1_cont_ex_op">Hide all steps</div>
                </div>
            </div>
            <div class="s1_cont_ex">
                <div class="s1_cont_ex_ti">Example 8</div>
                
                <div class="s1_cont_ex_ti2">$$xdx + sec(x)sin(y)dy = 0$$</div>
                <div class="s1_cont_ex_sh">

                <div class="s1_cont_ex_sh_p">$$xdx + sec(x)sin(y)*dy = 0$$</div>
                <div class="s1_cont_ex_sh_p">$$sec(x)sin(y)dy=xdx$$</div>
                <div class="s1_cont_ex_sh_p">$$\frac{sin(y)dy}{cos(x)}=-xdx$$</div>
                <div class="s1_cont_ex_sh_p">$$sin(y)dy=-x*cos(x)dx$$</div>
                <div class="s1_cont_ex_sh_p">$$\int{sin(y)dy}=\int{-x*cos(x)dx}$$</div>
                <div class="s1_cont_ex_sh_p">
                    <div class="s1_cont_ex_sh_p_cf">
                        <div class="s1_cont_ex_sh_p">$$\int{-x*cos(x)dx} =-[x*sin(x) - \int{sin(x)dx}]= -(x*sin(x) - cos(x) + C) $$</div>
                    </div>
                </div>
                <div class="s1_cont_ex_sh_p">
                    <div class="s1_cont_ex_sh_p_cf">$$ cos(y)=-(x*sin(x) - cos(x) + C) $$</div>
                </div>
                </div>

                
                <div class="s1_cont_ex_b">
                    <div class="s1_cont_ex_b_on s1_cont_ex_op">Show one step</div>
                    <div class="s1_cont_ex_b_al s1_cont_ex_op">Show all steps</div>
                    <div class="s1_cont_ex_b_hi s1_cont_ex_op">Hide all steps</div>
                </div>
            </div>
            <div class="s1_cont_ex">
                <div class="s1_cont_ex_ti">Example 9</div>
                
                <div class="s1_cont_ex_ti2">$$\frac{dy}{dx}=\frac{x(e^{x^2}+2)}{6y^2} $$</div>
                <div class="s1_cont_ex_sh">

                <div class="s1_cont_ex_sh_p">$$\frac{dy}{dx}=\frac{x(e^{x^2}+2)}{6y^2} $$</div>
                <div class="s1_cont_ex_sh_p">$$6y^2 dy = x(e^{x^2}+2)dx $$</div>
                <div class="s1_cont_ex_sh_p">$$6y^2 dy = (xe^{x^2}+2x)dx $$</div>
                <div class="s1_cont_ex_sh_p">
                    <div class="s1_cont_ex_sh_p_cf">$$2y^3 dy = \frac{e^{x^2}}{2} + x^2 + C_1 $$</div>
                </div>
                </div>
                <div class="s1_cont_ex_b">
                    <div class="s1_cont_ex_b_on s1_cont_ex_op">Show one step</div>
                    <div class="s1_cont_ex_b_al s1_cont_ex_op">Show all steps</div>
                    <div class="s1_cont_ex_b_hi s1_cont_ex_op">Hide all steps</div>
                </div>
            </div>
            <div class="s1_cont_ex">
                <div class="s1_cont_ex_ti">Example 10</div>
                
                <div class="s1_cont_ex_ti2">$$(x^2 -1) y^3dx + x^2dy = 0$$</div>
                <div class="s1_cont_ex_sh">

                <div class="s1_cont_ex_sh_p">$$(x^2 -1) y^3dx + x^2dy = 0$$</div>
                <div class="s1_cont_ex_sh_p">$$x^2dy = -(x^2 -1) y^3dx $$</div>
                <div class="s1_cont_ex_sh_p">$$\frac{dy}{y^3}= \frac{-(x^2 -1)}{x^2} dx $$</div>
                <div class="s1_cont_ex_sh_p">$$y^{-3}dy= \frac{1}{x^2}dx - \frac{-x^2}{x^2} dx $$</div>
                <div class="s1_cont_ex_sh_p">$$\int{y^{-3}dy}=\int{ x^{-2}dx} -\int{1 dx} $$</div>
                <div class="s1_cont_ex_sh_p">$$\frac{-1y^{-2}}{2} = -x^{-1} - x - C $$</div>
                <div class="s1_cont_ex_sh_p">
                    <div class="s1_cont_ex_sh_p_cf">$$\frac{1}{2y^2} = \frac{1}{x} +x + C_1 $$</div>
                </div>
                </div>
                <div class="s1_cont_ex_b">
                    <div class="s1_cont_ex_b_on s1_cont_ex_op">Show one step</div>
                    <div class="s1_cont_ex_b_al s1_cont_ex_op">Show all steps</div>
                    <div class="s1_cont_ex_b_hi s1_cont_ex_op">Hide all steps</div>
                </div>
            </div>
            <div class="s1_cont_ex">
                <div class="s1_cont_ex_ti">Example 11</div>
                
                <div class="s1_cont_ex_ti2">$$\frac{dy}{dx}=(1+e^{-x})(y^2-1) $$</div>
                <div class="s1_cont_ex_sh">

                <div class="s1_cont_ex_sh_p">$$\frac{dy}{dx}=(1+e^{-x})(y^2-1) $$</div>
                <div class="s1_cont_ex_sh_p">$$\frac{dy}{(y^2-1)}=(1+e^{-x})dx $$</div>
                <div class="s1_cont_ex_sh_p">$$\int{\frac{dy}{(y^2-1)}}=\int{(1+e^{-x})dx}v $$</div>
                <div class="s1_cont_ex_sh_p">$$\int{\frac{\frac{-1}{2}}{(y+1)}dy+\frac{\frac{1}{2}}{(y-1)}}dy=\int{(1+e^{-x})dx}v $$</div>
                <div class="s1_cont_ex_sh_p">$$\frac{-Ln|y+1|}{2} + \frac{Ln|y-1|}{2} = x - e^{-x}+C $$</div>
                <div class="s1_cont_ex_sh_p">
                <div class="s1_cont_ex_sh_p_cf">$$Ln\frac{|y-1|}{|y+1|} = 2{x - e^{-x} + C_1} $$</div>
                </div>
                </div>
                <div class="s1_cont_ex_b">
                    <div class="s1_cont_ex_b_on s1_cont_ex_op">Show one step</div>
                    <div class="s1_cont_ex_b_al s1_cont_ex_op">Show all steps</div>
                    <div class="s1_cont_ex_b_hi s1_cont_ex_op">Hide all steps</div>
                </div>
            </div>
            <div class="s1_cont_ex">
                <div class="s1_cont_ex_ti">Example 12</div>
                <div class="s1_cont_ex_ti2">$$xydx - (x^2+1)dy = 0$$</div>
                <div class="s1_cont_ex_sh">

                <div class="s1_cont_ex_sh_p">$$xydx - (x^2+1)dy = 0$$</div>
                <div class="s1_cont_ex_sh_p">$$\frac{dy}{y} = \frac{x}{x^2 + 1}dx $$</div>
                <div class="s1_cont_ex_sh_p">$$\int{\frac{dy}{y}} = \int{\frac{x}{x^2 + 1}dx} $$</div>
                <div class="s1_cont_ex_sh_p">$$Ln|y| = \frac{Ln(x^2+1)}{2}+ c $$</div>
                <div class="s1_cont_ex_sh_p">$$Ln|y| = \frac{Ln(x^2+1)}{2}+ c $$</div>
                <div class="s1_cont_ex_sh_p">
                    <div class="s1_cont_ex_sh_p_cf">$$Ln|y| = \frac{Ln(x^2+1)}{2}+ C_1$$</div>
                </div>
                </div>
                <div class="s1_cont_ex_b">
                    <div class="s1_cont_ex_b_on s1_cont_ex_op">Show one step</div>
                    <div class="s1_cont_ex_b_al s1_cont_ex_op">Show all steps</div>
                    <div class="s1_cont_ex_b_hi s1_cont_ex_op">Hide all steps</div>
                </div>
            </div>
            <div class="s1_cont_ex">
                <div class="s1_cont_ex_ti">Example 13</div>
                
                <div class="s1_cont_ex_ti2">$$\frac{dy}{dx}=\frac{x}{\sqrt{x^2+9}} $$</div>
                <div class="s1_cont_ex_sh">

                <div class="s1_cont_ex_sh_p">$$\frac{dy}{dx}=\frac{x}{\sqrt{x^2+9}} $$</div>
                <div class="s1_cont_ex_sh_p">$$dy =\frac{x}{\sqrt{x^2 + 9}}dx $$</div>
                <div class="s1_cont_ex_sh_p">$$ $$</div>
                <div class="s1_cont_ex_sh_p">$$ $$</div>
                <div class="s1_cont_ex_sh_p">
                    <div class="s1_cont_ex_sh_p_cf">$$ $$</div>
                </div>
                </div>
                <div class="s1_cont_ex_b">
                    <div class="s1_cont_ex_b_on s1_cont_ex_op">Show one step</div>
                    <div class="s1_cont_ex_b_al s1_cont_ex_op">Show all steps</div>
                    <div class="s1_cont_ex_b_hi s1_cont_ex_op">Hide all steps</div>
                </div>
            </div>
            <div class="s1_cont_ex">
                <div class="s1_cont_ex_ti">Example 14</div>
                
                <div class="s1_cont_ex_ti2">$$\frac{dy}{dx}=(y^2+2)$$</div>
                <div class="s1_cont_ex_sh">

                <div class="s1_cont_ex_sh_p">$$\frac{dy}{dx}=(y^2+2)$$</div>
                <div class="s1_cont_ex_sh_p">$$\frac{dy}{(y^2+2)}=dx$$</div>
                <div class="s1_cont_ex_sh_p">$$ $$</div>
                <div class="s1_cont_ex_sh_p">$$ $$</div>
                <div class="s1_cont_ex_sh_p">
                    <div class="s1_cont_ex_sh_p_cf">$$ $$</div>
                </div>
                </div>
                <div class="s1_cont_ex_b">
                    <div class="s1_cont_ex_b_on s1_cont_ex_op">Show one step</div>
                    <div class="s1_cont_ex_b_al s1_cont_ex_op">Show all steps</div>
                    <div class="s1_cont_ex_b_hi s1_cont_ex_op">Hide all steps</div>
                </div>
            </div>
            <div class="s1_cont_ex">
                <div class="s1_cont_ex_ti">Example 15</div>
                
                <div class="s1_cont_ex_ti2">$$x^2\frac{dy}{dx}=\frac{2^2+1}{3y^2+1}$$</div>
                <div class="s1_cont_ex_sh">

                <div class="s1_cont_ex_sh_p">$$ $$</div>
                <div class="s1_cont_ex_sh_p">$$ $$</div>
                <div class="s1_cont_ex_sh_p">$$ $$</div>
                <div class="s1_cont_ex_sh_p">
                    <div class="s1_cont_ex_sh_p_cf">$$ $$</div>
                </div>
                </div>
                <div class="s1_cont_ex_b">
                    <div class="s1_cont_ex_b_on s1_cont_ex_op">Show one step</div>
                    <div class="s1_cont_ex_b_al s1_cont_ex_op">Show all steps</div>
                    <div class="s1_cont_ex_b_hi s1_cont_ex_op">Hide all steps</div>
                </div>
            </div>
            <div class="s1_cont_ex">
                <div class="s1_cont_ex_ti">Example 16</div>
                
                <div class="s1_cont_ex_ti2">$$\frac{dy}{dx}=3x^2y $$</div>
                <div class="s1_cont_ex_sh">

                <div class="s1_cont_ex_sh_p">$$ $$</div>
                <div class="s1_cont_ex_sh_p">$$ $$</div>
                <div class="s1_cont_ex_sh_p">$$ $$</div>
                <div class="s1_cont_ex_sh_p">
                    <div class="s1_cont_ex_sh_p_cf">$$ $$</div>
                </div>
                </div>
                <div class="s1_cont_ex_b">
                    <div class="s1_cont_ex_b_on s1_cont_ex_op">Show one step</div>
                    <div class="s1_cont_ex_b_al s1_cont_ex_op">Show all steps</div>
                    <div class="s1_cont_ex_b_hi s1_cont_ex_op">Hide all steps</div>
                </div>
            </div>
            <div class="s1_cont_ex">
                <div class="s1_cont_ex_ti">Example 17</div>
                
                <div class="s1_cont_ex_ti2">$$\frac{dy}{dx}=5yx^4 $$</div>
                <div class="s1_cont_ex_sh">

                <div class="s1_cont_ex_sh_p">$$ $$</div>
                <div class="s1_cont_ex_sh_p">$$ $$</div>
                <div class="s1_cont_ex_sh_p">$$ $$</div>
                <div class="s1_cont_ex_sh_p">
                    <div class="s1_cont_ex_sh_p_cf">$$ $$</div>
                </div>
                </div>
                <div class="s1_cont_ex_b">
                    <div class="s1_cont_ex_b_on s1_cont_ex_op">Show one step</div>
                    <div class="s1_cont_ex_b_al s1_cont_ex_op">Show all steps</div>
                    <div class="s1_cont_ex_b_hi s1_cont_ex_op">Hide all steps</div>
                </div>
            </div>
            <div class="s1_cont_ex">
                <div class="s1_cont_ex_ti">Example 18</div>
                
                <div class="s1_cont_ex_ti2">$$\frac{dy}{dx}=x^8y $$</div>
                <div class="s1_cont_ex_sh">

                <div class="s1_cont_ex_sh_p">$$ $$</div>
                <div class="s1_cont_ex_sh_p">$$ $$</div>
                <div class="s1_cont_ex_sh_p">$$ $$</div>
                <div class="s1_cont_ex_sh_p">
                    <div class="s1_cont_ex_sh_p_cf">$$ $$</div>
                </div>
                </div>
                <div class="s1_cont_ex_b">
                    <div class="s1_cont_ex_b_on s1_cont_ex_op">Show one step</div>
                    <div class="s1_cont_ex_b_al s1_cont_ex_op">Show all steps</div>
                    <div class="s1_cont_ex_b_hi s1_cont_ex_op">Hide all steps</div>
                </div>
            </div>
            <div class="s1_cont_ex">
                <div class="s1_cont_ex_ti">Example 19</div>
                <div class="s1_cont_ex_ti2">$$\frac{dy}{dx}=(2x+3)(y^2-4) $$</div>

                <div class="s1_cont_ex_sh">
                    <div class="s1_cont_ex_sh_p">$$\frac{dy}{dx}=(2x+3)(y^2-4) $$</div>
                    <div class="s1_cont_ex_sh_p">$$\int{\frac{dy}{(y^2-4)}}=\int{(2x+3)dx} $$</div>
                    <div class="s1_cont_ex_sh_p">$$\frac{1}{4}\int{(\frac{1}{(y-2)}-\frac{1}{(y+2)})dy}=\int{(2x+3)dx} $$</div>
                    <div class="s1_cont_ex_sh_p">$$\frac{1}{4}(Ln|y-2|-Ln|y+2|)=x^2 +3x +C  $$</div>
                    <div class="s1_cont_ex_sh_p">$$(Ln|y-2|-Ln|y+2|)=4x^2 +12x +4C  $$</div>
                    <div class="s1_cont_ex_sh_p">
                        <div class="s1_cont_ex_sh_p_cf">$$Ln|\frac{y-2}{y+2}|=4x^2 +12x +C_1  $$</div>
                    </div>
                    <div class="s1_cont_ex_sh_p">$$\frac{y-2}{y+2} = C_2e^{4x^2 + 12x} $$</div>
                </div>
                <div class="s1_cont_ex_b">
                    <div class="s1_cont_ex_b_on s1_cont_ex_op">Show one step</div>
                    <div class="s1_cont_ex_b_al s1_cont_ex_op">Show all steps</div>
                    <div class="s1_cont_ex_b_hi s1_cont_ex_op">Hide all steps</div>
                </div>
            </div>
            <div class="s1_cont_ex">
                <div class="s1_cont_ex_ti">Example 20</div>
                
                <div class="s1_cont_ex_ti2">$$\frac{dy}{dx}=3cos(xy)$$</div>
                <div class="s1_cont_ex_sh">

                <div class="s1_cont_ex_sh_p">$$ $$</div>
                <div class="s1_cont_ex_sh_p">$$ $$</div>
                <div class="s1_cont_ex_sh_p">$$ $$</div>
                <div class="s1_cont_ex_sh_p">
                    <div class="s1_cont_ex_sh_p_cf">$$ $$</div>
                </div>
                </div>
                <div class="s1_cont_ex_b">
                    <div class="s1_cont_ex_b_on s1_cont_ex_op">Show one step</div>
                    <div class="s1_cont_ex_b_al s1_cont_ex_op">Show all steps</div>
                    <div class="s1_cont_ex_b_hi s1_cont_ex_op">Hide all steps</div>
                </div>
            </div>
            <div class="s1_cont_ex">
                <div class="s1_cont_ex_ti">Example 21</div>
                
                <div class="s1_cont_ex_ti2">$$6\frac{dy}{dx}=y^4sinx$$</div>
                <div class="s1_cont_ex_sh">

                <div class="s1_cont_ex_sh_p">$$ $$</div>
                <div class="s1_cont_ex_sh_p">$$ $$</div>
                <div class="s1_cont_ex_sh_p">$$ $$</div>
                <div class="s1_cont_ex_sh_p">
                    <div class="s1_cont_ex_sh_p_cf">$$ $$</div>
                </div>
                </div>
                <div class="s1_cont_ex_b">
                    <div class="s1_cont_ex_b_on s1_cont_ex_op">Show one step</div>
                    <div class="s1_cont_ex_b_al s1_cont_ex_op">Show all steps</div>
                    <div class="s1_cont_ex_b_hi s1_cont_ex_op">Hide all steps</div>
                </div>
            </div>
            <div class="s1_cont_ex">
                <div class="s1_cont_ex_ti">Example 22</div>
                
                <div class="s1_cont_ex_ti2">$$\frac{1}{2}\frac{dy}{dx}=\sqrt{y+1}cosx$$</div>
                <div class="s1_cont_ex_sh">

                <div class="s1_cont_ex_sh_p">$$ $$</div>
                <div class="s1_cont_ex_sh_p">$$ $$</div>
                <div class="s1_cont_ex_sh_p">$$ $$</div>
                <div class="s1_cont_ex_sh_p">
                    <div class="s1_cont_ex_sh_p_cf">$$ $$</div>
                </div>
                </div>
                <div class="s1_cont_ex_b">
                    <div class="s1_cont_ex_b_on s1_cont_ex_op">Show one step</div>
                    <div class="s1_cont_ex_b_al s1_cont_ex_op">Show all steps</div>
                    <div class="s1_cont_ex_b_hi s1_cont_ex_op">Hide all steps</div>
                </div>
            </div>
            
        </div>
    </div>
        <div class="s1b">
        <div class="s1_cont">
            <div class="s1_cont_ti">Homogenous equation</div>
            test
            <div class="s1_cont_ex">
                <div class="s1_cont_ex_ti">Example 1</div>
                <div class="s1_cont_ex_ti2">$$(x+y)\frac{dy}{dx} = y$$</div>
                <div class="s1_cont_ex_sh">
                    <div class="s1_cont_ex_sh_p">$$(x+1)\frac{dy}{dx}=y$$</div>
                    <div class="s1_cont_ex_sh_p">$$dxy=(x+1)dy$$</div>
                    <div class="s1_cont_ex_sh_p">$$\int{\frac{dx}{x+1}}=\int{\frac{dy}{y}}$$</div>
                    <div class="s1_cont_ex_sh_p">$$Ln{|y|}=Ln{|x+1|}+C$$</div>
                    <div class="s1_cont_ex_sh_p">$$e^{Ln{|y|}}=e^{Ln{|x+1|}}+e^C$$</div>
                    <div class="s1_cont_ex_sh_p">
                        <div class="s1_cont_ex_sh_p_cf">$$|y|=|x+1|+C_{1}$$</div>
                    </div>
                    
                </div>
                <div class="s1_cont_ex_b">
                    <div class="s1_cont_ex_b_on s1_cont_ex_op">Show one step</div>
                    <div class="s1_cont_ex_b_al s1_cont_ex_op">Show all steps</div>
                    <div class="s1_cont_ex_b_hi s1_cont_ex_op">Hide all steps</div>
                </div>
            </div>
            <div class="s1_cont_ex">
                <div class="s1_cont_ex_ti">Example 2</div>
                <div class="s1_cont_ex_ti2">$$xydx = 3(y-2)dy$$</div>
                <div class="s1_cont_ex_sh">
                    <div class="s1_cont_ex_sh_p">$$xydx = 3(y-2)dy$$</div>
                    <div class="s1_cont_ex_sh_p">$$xdx=\frac{3(y-2)dy}{y} $$</div>
                    <div class="s1_cont_ex_sh_p">$$xdx=\frac{3y}{y} - \frac{6}{y} $$</div>
                    <div class="s1_cont_ex_sh_p">$$\int{xdx}=\int{3dy}-\int{\frac{6}{y}dy} $$</div>
                    <div class="s1_cont_ex_sh_p">
                        <div class="s1_cont_ex_sh_p_cf">$$\frac{x^2}{2}=3y -6Ln{|y|} + C_1 $$</div>
                    </div>
                </div>
                <div class="s1_cont_ex_b">
                    <div class="s1_cont_ex_b_on s1_cont_ex_op">Show one step</div>
                    <div class="s1_cont_ex_b_al s1_cont_ex_op">Show all steps</div>
                    <div class="s1_cont_ex_b_hi s1_cont_ex_op">Hide all steps</div>
                </div>
            </div>
            <div class="s1_cont_ex">
                <div class="s1_cont_ex_ti">Example 3</div>
                
                <div class="s1_cont_ex_ti2">$$\frac{dy}{dx}=(x^2-4)(3y+2)$$</div>
                <div class="s1_cont_ex_sh">
                    <div class="s1_cont_ex_sh_p">$$\frac{dy}{dx}=(x^2-4)(3y+2)$$</div>
                    <div class="s1_cont_ex_sh_p">$$dy=dx(x^2-4)(3y+2)$$</div>
                    <div class="s1_cont_ex_sh_p">$$\frac{dy}{(3y+2)}=dx(x^2-4)$$</div>
                    <div class="s1_cont_ex_sh_p">$$\int{\frac{dy}{(3y+2)}}=\int{dx(x^2-4)}$$</div>
                    <div class="s1_cont_ex_sh_p">$$\int{x^2 dx}-\int{4dx}=\int{\frac{dy}{(3y+2)}}$$</div>
                    
                    <div class="s1_cont_ex_sh_p">
                        <div class="s1_cont_ex_sh_p_cf">$$\frac{Ln(3y+2)}{3} =\frac{x^3}{3} -4x + C$$</div>
                    </div>
                    <div class="s1_cont_ex_sh_p">$$ Ln|3y+2|=x^3 -4x + 3C$$</div>
                    <div class="s1_cont_ex_sh_p">$$ e^{Ln|3y+2|}=e^{x^3-4x+C_1}$$</div>
                    <div class="s1_cont_ex_sh_p">$$ |3y+2|=ee^{x^3-4x+C_1}$$</div>
                </div>
                <div class="s1_cont_ex_b">
                    <div class="s1_cont_ex_b_on s1_cont_ex_op">Show one step</div>
                    <div class="s1_cont_ex_b_al s1_cont_ex_op">Show all steps</div>
                    <div class="s1_cont_ex_b_hi s1_cont_ex_op">Hide all steps</div>
                </div>
            </div>
            <div class="s1_cont_ex">
                <div class="s1_cont_ex_ti">Example 4</div>
                <div class="s1_cont_ex_ti2">$$\frac{dy}{dx}=6x^2+4x$$</div>
                <div class="s1_cont_ex_sh">

                <div class="s1_cont_ex_sh_p">$$ $$</div>
                <div class="s1_cont_ex_sh_p">$$ $$</div>
                <div class="s1_cont_ex_sh_p">$$ $$</div>
                <div class="s1_cont_ex_sh_p">
                    <div class="s1_cont_ex_sh_p_cf">$$ $$</div>
                </div>
                </div>
                <div class="s1_cont_ex_sh">
                    
                </div>
                <div class="s1_cont_ex_b">
                    <div class="s1_cont_ex_b_on s1_cont_ex_op">Show one step</div>
                    <div class="s1_cont_ex_b_al s1_cont_ex_op">Show all steps</div>
                    <div class="s1_cont_ex_b_hi s1_cont_ex_op">Hide all steps</div>
                </div>
            </div>
            <div class="s1_cont_ex">
                <div class="s1_cont_ex_ti">Example 5</div>
                
                <div class="s1_cont_ex_ti2">$$\frac{dy}{dx}=secy+tany$$</div>
                <div class="s1_cont_ex_sh">

                <div class="s1_cont_ex_sh_p">$$ $$</div>
                <div class="s1_cont_ex_sh_p">$$ $$</div>
                <div class="s1_cont_ex_sh_p">$$ $$</div>
                <div class="s1_cont_ex_sh_p">
                    <div class="s1_cont_ex_sh_p_cf">$$ $$</div>
                </div>
                </div>
                <div class="s1_cont_ex_b">
                    <div class="s1_cont_ex_b_on s1_cont_ex_op">Show one step</div>
                    <div class="s1_cont_ex_b_al s1_cont_ex_op">Show all steps</div>
                    <div class="s1_cont_ex_b_hi s1_cont_ex_op">Hide all steps</div>
                </div>
            </div>
            <div class="s1_cont_ex">
                <div class="s1_cont_ex_ti">Example 6</div>
                
                <div class="s1_cont_ex_ti2">$$\frac{dy}{dx}=xy+3x-2y-6$$</div>
                <div class="s1_cont_ex_sh">

                <div class="s1_cont_ex_sh_p">$$ $$</div>
                <div class="s1_cont_ex_sh_p">$$ $$</div>
                <div class="s1_cont_ex_sh_p">$$ $$</div>
                <div class="s1_cont_ex_sh_p">
                    <div class="s1_cont_ex_sh_p_cf">$$ $$</div>
                </div>
                </div>
                <div class="s1_cont_ex_b">
                    <div class="s1_cont_ex_b_on s1_cont_ex_op">Show one step</div>
                    <div class="s1_cont_ex_b_al s1_cont_ex_op">Show all steps</div>
                    <div class="s1_cont_ex_b_hi s1_cont_ex_op">Hide all steps</div>
                </div>
            </div>
            <div class="s1_cont_ex">
                <div class="s1_cont_ex_ti">Example 7</div>
                
                <div class="s1_cont_ex_ti2">$$2ydy=(x^2+1)dx$$</div>
                <div class="s1_cont_ex_sh">

                <div class="s1_cont_ex_sh_p">$$ $$</div>
                <div class="s1_cont_ex_sh_p">$$ $$</div>
                <div class="s1_cont_ex_sh_p">$$ $$</div>
                <div class="s1_cont_ex_sh_p">
                    <div class="s1_cont_ex_sh_p_cf">$$ $$</div>
                </div>
                </div>
                <div class="s1_cont_ex_b">
                    <div class="s1_cont_ex_b_on s1_cont_ex_op">Show one step</div>
                    <div class="s1_cont_ex_b_al s1_cont_ex_op">Show all steps</div>
                    <div class="s1_cont_ex_b_hi s1_cont_ex_op">Hide all steps</div>
                </div>
            </div>
            <div class="s1_cont_ex">
                <div class="s1_cont_ex_ti">Example 8</div>
                
                <div class="s1_cont_ex_ti2">$$xdx + secx*siny*dy = 0$$</div>
                <div class="s1_cont_ex_sh">

                <div class="s1_cont_ex_sh_p">$$ $$</div>
                <div class="s1_cont_ex_sh_p">$$ $$</div>
                <div class="s1_cont_ex_sh_p">$$ $$</div>
                <div class="s1_cont_ex_sh_p">
                    <div class="s1_cont_ex_sh_p_cf">$$ $$</div>
                </div>
                </div>
                <div class="s1_cont_ex_b">
                    <div class="s1_cont_ex_b_on s1_cont_ex_op">Show one step</div>
                    <div class="s1_cont_ex_b_al s1_cont_ex_op">Show all steps</div>
                    <div class="s1_cont_ex_b_hi s1_cont_ex_op">Hide all steps</div>
                </div>
            </div>
            <div class="s1_cont_ex">
                <div class="s1_cont_ex_ti">Example 9</div>
                
                <div class="s1_cont_ex_ti2">$$\frac{dy}{dx}=\frac{x(e^{x^2}+2)}{6y^2} $$</div>
                <div class="s1_cont_ex_sh">

                <div class="s1_cont_ex_sh_p">$$ $$</div>
                <div class="s1_cont_ex_sh_p">$$ $$</div>
                <div class="s1_cont_ex_sh_p">$$ $$</div>
                <div class="s1_cont_ex_sh_p">
                    <div class="s1_cont_ex_sh_p_cf">$$ $$</div>
                </div>
                </div>
                <div class="s1_cont_ex_b">
                    <div class="s1_cont_ex_b_on s1_cont_ex_op">Show one step</div>
                    <div class="s1_cont_ex_b_al s1_cont_ex_op">Show all steps</div>
                    <div class="s1_cont_ex_b_hi s1_cont_ex_op">Hide all steps</div>
                </div>
            </div>
            <div class="s1_cont_ex">
                <div class="s1_cont_ex_ti">Example 10</div>
                
                <div class="s1_cont_ex_ti2">$$(x^2 -1) y^3dx + x^2dy = 0$$</div>
                <div class="s1_cont_ex_sh">

                <div class="s1_cont_ex_sh_p">$$ $$</div>
                <div class="s1_cont_ex_sh_p">$$ $$</div>
                <div class="s1_cont_ex_sh_p">$$ $$</div>
                <div class="s1_cont_ex_sh_p">
                    <div class="s1_cont_ex_sh_p_cf">$$ $$</div>
                </div>
                </div>
                <div class="s1_cont_ex_b">
                    <div class="s1_cont_ex_b_on s1_cont_ex_op">Show one step</div>
                    <div class="s1_cont_ex_b_al s1_cont_ex_op">Show all steps</div>
                    <div class="s1_cont_ex_b_hi s1_cont_ex_op">Hide all steps</div>
                </div>
            </div>
            <div class="s1_cont_ex">
                <div class="s1_cont_ex_ti">Example 11</div>
                
                <div class="s1_cont_ex_ti2">$$\frac{dy}{dx}=(1+e^{-x})(y^2-1) $$</div>
                <div class="s1_cont_ex_sh">

                <div class="s1_cont_ex_sh_p">$$ $$</div>
                <div class="s1_cont_ex_sh_p">$$ $$</div>
                <div class="s1_cont_ex_sh_p">$$ $$</div>
                <div class="s1_cont_ex_sh_p">
                    <div class="s1_cont_ex_sh_p_cf">$$ $$</div>
                </div>
                </div>
                <div class="s1_cont_ex_b">
                    <div class="s1_cont_ex_b_on s1_cont_ex_op">Show one step</div>
                    <div class="s1_cont_ex_b_al s1_cont_ex_op">Show all steps</div>
                    <div class="s1_cont_ex_b_hi s1_cont_ex_op">Hide all steps</div>
                </div>
            </div>
            <div class="s1_cont_ex">
                <div class="s1_cont_ex_ti">Example 12</div>
                <div class="s1_cont_ex_ti2">$$xydx - (x^2+1)dy = 0$$</div>
                <div class="s1_cont_ex_sh">

                <div class="s1_cont_ex_sh_p">$$ $$</div>
                <div class="s1_cont_ex_sh_p">$$ $$</div>
                <div class="s1_cont_ex_sh_p">$$ $$</div>
                <div class="s1_cont_ex_sh_p">
                    <div class="s1_cont_ex_sh_p_cf">$$ $$</div>
                </div>
                </div>
                <div class="s1_cont_ex_b">
                    <div class="s1_cont_ex_b_on s1_cont_ex_op">Show one step</div>
                    <div class="s1_cont_ex_b_al s1_cont_ex_op">Show all steps</div>
                    <div class="s1_cont_ex_b_hi s1_cont_ex_op">Hide all steps</div>
                </div>
            </div>
            <div class="s1_cont_ex">
                <div class="s1_cont_ex_ti">Example 13</div>
                
                <div class="s1_cont_ex_ti2">$$\frac{dy}{dx}=\frac{x}{\sqrt{x^2+9}} $$</div>
                <div class="s1_cont_ex_sh">

                <div class="s1_cont_ex_sh_p">$$ $$</div>
                <div class="s1_cont_ex_sh_p">$$ $$</div>
                <div class="s1_cont_ex_sh_p">$$ $$</div>
                <div class="s1_cont_ex_sh_p">
                    <div class="s1_cont_ex_sh_p_cf">$$ $$</div>
                </div>
                </div>
                <div class="s1_cont_ex_b">
                    <div class="s1_cont_ex_b_on s1_cont_ex_op">Show one step</div>
                    <div class="s1_cont_ex_b_al s1_cont_ex_op">Show all steps</div>
                    <div class="s1_cont_ex_b_hi s1_cont_ex_op">Hide all steps</div>
                </div>
            </div>
            <div class="s1_cont_ex">
                <div class="s1_cont_ex_ti">Example 14</div>
                
                <div class="s1_cont_ex_ti2">$$\frac{dy}{dx}=(y^2+2)$$</div>
                <div class="s1_cont_ex_sh">

                <div class="s1_cont_ex_sh_p">$$ $$</div>
                <div class="s1_cont_ex_sh_p">$$ $$</div>
                <div class="s1_cont_ex_sh_p">$$ $$</div>
                <div class="s1_cont_ex_sh_p">
                    <div class="s1_cont_ex_sh_p_cf">$$ $$</div>
                </div>
                </div>
                <div class="s1_cont_ex_b">
                    <div class="s1_cont_ex_b_on s1_cont_ex_op">Show one step</div>
                    <div class="s1_cont_ex_b_al s1_cont_ex_op">Show all steps</div>
                    <div class="s1_cont_ex_b_hi s1_cont_ex_op">Hide all steps</div>
                </div>
            </div>
            <div class="s1_cont_ex">
                <div class="s1_cont_ex_ti">Example 15</div>
                
                <div class="s1_cont_ex_ti2">$$x^2\frac{dy}{dx}=\frac{2^2+1}{3y^2+1}$$</div>
                <div class="s1_cont_ex_sh">

                <div class="s1_cont_ex_sh_p">$$ $$</div>
                <div class="s1_cont_ex_sh_p">$$ $$</div>
                <div class="s1_cont_ex_sh_p">$$ $$</div>
                <div class="s1_cont_ex_sh_p">
                    <div class="s1_cont_ex_sh_p_cf">$$ $$</div>
                </div>
                </div>
                <div class="s1_cont_ex_b">
                    <div class="s1_cont_ex_b_on s1_cont_ex_op">Show one step</div>
                    <div class="s1_cont_ex_b_al s1_cont_ex_op">Show all steps</div>
                    <div class="s1_cont_ex_b_hi s1_cont_ex_op">Hide all steps</div>
                </div>
            </div>
            <div class="s1_cont_ex">
                <div class="s1_cont_ex_ti">Example 16</div>
                
                <div class="s1_cont_ex_ti2">$$\frac{dy}{dx}=3x^2y $$</div>
                <!-- <div class="s1_cont_pro">
                    <div class="s1_cont_ex_op s1_cont_pro_d">$$y=e^{x^{^{3}}+C}$$</div>
                    <div class="s1_cont_ex_op s1_cont_pro_d">$$Ln{y}=e^{x^3}$$</div>
                    <div class="s1_cont_ex_op s1_cont_pro_d">$$y = Ce^{x^3}$$</div>
                    <div class="s1_cont_ex_op s1_cont_pro_d">$$y = e^{x^3}$$</div>
                </div> -->
                <div class="s1_cont_ex_sh">

                <div class="s1_cont_ex_sh_p">$$ $$</div>
                <div class="s1_cont_ex_sh_p">$$ $$</div>
                <div class="s1_cont_ex_sh_p">$$ $$</div>
                <div class="s1_cont_ex_sh_p">
                    <div class="s1_cont_ex_sh_p_cf">$$ $$</div>
                </div>
                </div>
                <div class="s1_cont_ex_b">
                    <div class="s1_cont_ex_b_on s1_cont_ex_op sho">Show one step</div>
                    <div class="s1_cont_ex_b_al s1_cont_ex_op sho">Show all steps</div>
                    <div class="s1_cont_ex_b_hi s1_cont_ex_op sho">Hide all steps</div>
                </div>
            </div>
            <div class="s1_cont_ex">
                <div class="s1_cont_ex_ti">Example 17</div>
                
                <div class="s1_cont_ex_ti2">$$\frac{dy}{dx}=5yx^4 $$</div>
                <div class="s1_cont_ex_sh">

                <div class="s1_cont_ex_sh_p">$$ $$</div>
                <div class="s1_cont_ex_sh_p">$$ $$</div>
                <div class="s1_cont_ex_sh_p">$$ $$</div>
                <div class="s1_cont_ex_sh_p">
                    <div class="s1_cont_ex_sh_p_cf">$$ $$</div>
                </div>
                </div>
                <div class="s1_cont_ex_b">
                    <div class="s1_cont_ex_b_on s1_cont_ex_op">Show one step</div>
                    <div class="s1_cont_ex_b_al s1_cont_ex_op">Show all steps</div>
                    <div class="s1_cont_ex_b_hi s1_cont_ex_op">Hide all steps</div>
                </div>
            </div>
            <div class="s1_cont_ex">
                <div class="s1_cont_ex_ti">Example 18</div>
                
                <div class="s1_cont_ex_ti2">$$\frac{dy}{dx}=x^8y $$</div>
                <div class="s1_cont_ex_sh">

                <div class="s1_cont_ex_sh_p">$$ $$</div>
                <div class="s1_cont_ex_sh_p">$$ $$</div>
                <div class="s1_cont_ex_sh_p">$$ $$</div>
                <div class="s1_cont_ex_sh_p">
                    <div class="s1_cont_ex_sh_p_cf">$$ $$</div>
                </div>
                </div>
                <div class="s1_cont_ex_b">
                    <div class="s1_cont_ex_b_on s1_cont_ex_op">Show one step</div>
                    <div class="s1_cont_ex_b_al s1_cont_ex_op">Show all steps</div>
                    <div class="s1_cont_ex_b_hi s1_cont_ex_op">Hide all steps</div>
                </div>
            </div>
            <div class="s1_cont_ex">
                <div class="s1_cont_ex_ti">Example 19</div>
                <div class="s1_cont_ex_ti2">$$\frac{dy}{dx}=(2x+3)(y^2-4) $$</div>

                <div class="s1_cont_ex_sh">
                    <div class="s1_cont_ex_sh_p">$$\frac{dy}{dx}=(2x+3)(y^2-4) $$</div>
                    <div class="s1_cont_ex_sh_p">$$\int{\frac{dy}{(y^2-4)}}=\int{(2x+3)dx} $$</div>
                    <div class="s1_cont_ex_sh_p">$$\frac{1}{4}\int{(\frac{1}{(y-2)}-\frac{1}{(y+2)})dy}=\int{(2x+3)dx} $$</div>
                    <div class="s1_cont_ex_sh_p">$$\frac{1}{4}(Ln|y-2|-Ln|y+2|)=x^2 +3x +C  $$</div>
                    <div class="s1_cont_ex_sh_p">$$(Ln|y-2|-Ln|y+2|)=4x^2 +12x +4C  $$</div>
                    <div class="s1_cont_ex_sh_p">
                        <div class="s1_cont_ex_sh_p_cf">$$Ln|\frac{y-2}{y+2}|=4x^2 +12x +C_1  $$</div>
                    </div>
                    <div class="s1_cont_ex_sh_p">$$\frac{y-2}{y+2} = C_2e^{4x^2 + 12x} $$</div>
                </div>
                <div class="s1_cont_ex_b">
                    <div class="s1_cont_ex_b_on s1_cont_ex_op">Show one step</div>
                    <div class="s1_cont_ex_b_al s1_cont_ex_op">Show all steps</div>
                    <div class="s1_cont_ex_b_hi s1_cont_ex_op">Hide all steps</div>
                </div>
            </div>
            <div class="s1_cont_ex">
                <div class="s1_cont_ex_ti">Example 20</div>
                
                <div class="s1_cont_ex_ti2">$$\frac{dy}{dx}=3cos(xy)$$</div>
                <div class="s1_cont_ex_sh">

                <div class="s1_cont_ex_sh_p">$$ $$</div>
                <div class="s1_cont_ex_sh_p">$$ $$</div>
                <div class="s1_cont_ex_sh_p">$$ $$</div>
                <div class="s1_cont_ex_sh_p">
                    <div class="s1_cont_ex_sh_p_cf">$$ $$</div>
                </div>
                </div>
                <div class="s1_cont_ex_b">
                    <div class="s1_cont_ex_b_on s1_cont_ex_op">Show one step</div>
                    <div class="s1_cont_ex_b_al s1_cont_ex_op">Show all steps</div>
                    <div class="s1_cont_ex_b_hi s1_cont_ex_op">Hide all steps</div>
                </div>
            </div>
            <div class="s1_cont_ex">
                <div class="s1_cont_ex_ti">Example 21</div>
                
                <div class="s1_cont_ex_ti2">$$6\frac{dy}{dx}=y^4sinx$$</div>
                <div class="s1_cont_ex_sh">

                <div class="s1_cont_ex_sh_p">$$ $$</div>
                <div class="s1_cont_ex_sh_p">$$ $$</div>
                <div class="s1_cont_ex_sh_p">$$ $$</div>
                <div class="s1_cont_ex_sh_p">
                    <div class="s1_cont_ex_sh_p_cf">$$ $$</div>
                </div>
                </div>
                <div class="s1_cont_ex_b">
                    <div class="s1_cont_ex_b_on s1_cont_ex_op">Show one step</div>
                    <div class="s1_cont_ex_b_al s1_cont_ex_op">Show all steps</div>
                    <div class="s1_cont_ex_b_hi s1_cont_ex_op">Hide all steps</div>
                </div>
            </div>
            <div class="s1_cont_ex">
                <div class="s1_cont_ex_ti">Example 22</div>
                
                <div class="s1_cont_ex_ti2">$$\frac{1}{2}\frac{dy}{dx}=\sqrt{y+1}cosx$$</div>
                <div class="s1_cont_ex_sh">

                <div class="s1_cont_ex_sh_p">$$ $$</div>
                <div class="s1_cont_ex_sh_p">$$ $$</div>
                <div class="s1_cont_ex_sh_p">$$ $$</div>
                <div class="s1_cont_ex_sh_p">
                    <div class="s1_cont_ex_sh_p_cf">$$ $$</div>
                </div>
                </div>
                <div class="s1_cont_ex_b">
                    <div class="s1_cont_ex_b_on s1_cont_ex_op">Show one step</div>
                    <div class="s1_cont_ex_b_al s1_cont_ex_op">Show all steps</div>
                    <div class="s1_cont_ex_b_hi s1_cont_ex_op">Hide all steps</div>
                </div>
            </div>
            
        </div>
    </div>
    
</div>

</body>
</html>
<script src="/Fjs/FOO.js"></script>
<script src="/Fjs/req.js"></script>

<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>